*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx


# Gradle
.gradle/
build/
**/build/

# Android Studio
.idea/
*.iml

# Log files
*.log

Thumbs.db

# Keystore (if any)
*.jks
